.card  {

    img{
       height: 200px;
       object-fit: fill;
    }
}

.hero{
    height: 80vh;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}